@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Baloo 2';
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FFAA38
}

::-webkit-scrollbar-thumb:hover {
  background: #FFC577;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root{
  min-width: 0 !important;
  padding: 0px !important;
}